<h1>Balances</h1>
<p>Welcome to the balances route</p>
<br />
<p>Use postman, curl or your favorite method to post to this route to get the ecr20 balance of any address</p>
<br />
<p>Payload is {addr: 'YOUR-ADDRESS', contract: 'CONTRACT-ADDRESS'}</p>
<br />
<p>Default is</p>
<br />
<p>address: {{addr}}</p>
<br />
<p>contractAddress: {{contract}}</p>
<br />
<p>contractName: {{name}}</p>
