<h1>Balances</h1>
<p>Welcome to the balances route</p>
<br />
<p>Use postman, curl or your favorite method to post to this route to get the ecr20 balance of any address</p>

<br />
<h2>/balances</h2>
<br />
<p>Payload is {address: 'YOUR-ADDRESS', contract: 'CONTRACT-ADDRESS'}</p>
<br />
<p>Default (for testing) is</p>
<br />
<p>address: {{addr}}</p>
<br />
<p>contractAddress: {{contract}}</p>
<br />
<p>contractName: {{name}}</p>

<br />
<h2>/balances/eos</h2>
<br />
<p>Payload is {address: 'YOUR-ADDRESS'}</p>

<br />
<h2>/balances/bancor</h2>
<br />
<p>Payload is {address: 'YOUR-ADDRESS'}</p>

<br />
<h2>/balances/thedao</h2>
<br />
<p>Payload is {address: 'YOUR-ADDRESS'}</p>
